<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Hanzi Link Database{{query and ' - %s' % (query,) or ''}}</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <div class="navigation">
    <div class="table_list">
      {% for name, text in table_list %}
      <span><a href="/table?n={{name}}">{{text}}</a></span>
      {% endfor %}
    </div>
    <form name="nav_form" method="get">
      <label>
        Input Hanzi:
        <input type="text" name="q"/>
      </label>
      <input type="submit"/>
    </form>
  </div>
  {% for d in result_list %}
  <div class="result">
    <div class="float_left">
      <div class="char">{{d.get('char', '')|safe}}</div>
      <div class="code">{{d.get('code', '')|safe}}</div>
    </div>
    <div class="readings">
      {% set readings = d.get('readings') or {} -%}
      {% set l = readings_key_linker -%}
      {% for k in readings.keys()|sort: %}
      <span class="field"><b>{{l(k)|safe}}</b>:&nbsp;{{readings[k]|safe}}</span>
      <span class="sep"> ; </span>
      {% endfor %}
    </div>
    <div class="variants">
      {% set variants = d.get('variants') or {} -%}
    {% if variants -%}
    <span class="unihan_variants">
      {% set l = variants_key_linker -%}
      {% for k in variants.keys()|sort: %}
      <span class="field"><b>{{l(k)|safe}}</b>:&nbsp;{{variants[k]|safe}}</span>
      <span class="sep"> ; </span>
      {% endfor %}
    </span>
    {% endif %}
    {% if d.has_key('cjkvi_variants') -%}
    <span class="cjkvi_variants">
      <span class="field"><b>Variants</b>:&nbsp;{{d.cjkvi_variants|safe}}</span>
    </span>
    {% endif %}
    </div>
    <div class="ids">
    {% if d.has_key('chise_ids') -%}
    <span class="chise_ids">
      {% if d.get('chise_ids_find') -%}
      <span class="field"><b><a target="_blank" href="{{d.chise_ids_find
            }}">IDS</a></b>:&nbsp;{{d.chise_ids|safe}}</span>
      {% else %}
      <span class="field"><b>IDS</b>:&nbsp;{{d.chise_ids|safe}}</span>
      {% endif %}
    </span>
    {% endif %}
    {% if d.has_key('cjkvi_analysis') -%}
    <span class="cjkvi_analysis">
      <span class="field"><b>Analysis</b>:&nbsp;{{d.cjkvi_analysis|safe}}</span>
    </span>
    {% endif %}
    </div>
    &nbsp;
    <div class="error"><pre>{{d.get('error', '')}}</pre></div>
  </div>
  {% endfor %}
</body>
</html>
<!-- vim: set ts=2 sw=2 et tw=80 cc=80 : -->
